/*************************************************Create a recipe - START**********************************************/
/*STEP_0*/
.step_0 {
    font-weight: bold;
    font-size: 1000%;
}

.step_0_anchor { /*class section tag anchor*/
    cursor: pointer;
    font-weight: bold;
    font-size: 1000%;
    color:lightseagreen;
    /*border-bottom: 10px solid lightseagreen;*/
    text-decoration: underline; /*or none*/
    text-decoration-color: lightseagreen;
}
a.step_0_anchor:hover {
    color: lightseagreen;
}

.step_0, .step_0_anchor {
    display:inline;
}


h6.step_0_helper {
    color: lightgrey;
    font-size: large;
    clear: left;
}
/*STEP_1*/
h3.step_1 {
    font-family: 'open sans',arial,sans-serif;
    font-weight: bold;
    font-size: xx-large;
}
h6.step_1_helper {
    color: lightgrey;
    font-size: medium;
}
h3.step_1, h6.step_1_helper{
    display:inline;
}

.step_1_channels_search {
    font-family: "Avenir Next LT W01 Demi",helvetica,arial,sans-serif;
    font-weight: bold;
    width: 50%;
    height:80px;
    font-size:30px;
    text-indent: 5px;
    margin-bottom: 40px;
    color: #333;
    letter-spacing: -0.54px;
    letter-spacing: -0.03rem;
    word-spacing: 1.08px;
    word-spacing: 0.06rem;
}

#channel_to_connect_1_anchor {
    font-size: xx-large;
}

/*STEP3*/
.trigger-list_item {
    display: block;
    float: left;
    width: 279px;
    height: 700px;
    padding: 15px;
    margin: 8px 8px 0 0;
    color: #999;
    background-color: #f3f3f3;
    border: 1px #ebebeb solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    line-height: 1.2;
}

.is-dimmable:after {
    margin-left: 100px;
    content: "";
    display: table;
    clear: both;
}

#channel_to_connect_2_anchor {
    font-size: xx-large;
}

/*************************************************Create a recipe - END************************************************/

h2.recipe
{
    margin-top: 0.5em;
//margin-bottom: 0;
    padding: 0;
    margin-left: 19.6%;
    color: #eee;
//border: 1px solid black;
}

h5.recipe
{
    margin-top:0;
    padding: 0;
    margin-left: 19.6%;
    margin-bottom: 0.5em;
//border: 1px solid black;
}

a.recipe
{
    color: #eee;
}

a.recipe:hover
{
    color: white;
    text-decoration: underline;
}

button.recipe-menu
{
    text-align: left;
    margin-top: 0.5em;
    width: 85%;
    margin-left: 15%;
}

button.recipe-menu > span
{
    margin-left: 10px;
    font-size: 120%;
}

button.recipe-menu > i
{
    margin-left: 10px;
}

/*div.recipe-menu
{
    border-radius: 0.5em;
    border: 1px solid black;
    display: block;
    text-align: left;
    padding: 0;
    font-size: 120%;
}*/

form#editRecipe
{
    width: 60%;
    margin-left: 20%;
}

div.content
{
    width: 100%;
//margin-left: 19%;
    padding: 0;
    height: 20em;
//border: 1px solid black;
}

div.left
{
    text-align: center;
//border: 1px solid black;
}

div.right
{
    text-align: center;
//border: 1px solid black;
}

div.div-if
{
    background: dodgerblue;
    border-radius: 0.5em 0 0 0.5em;
    height: 50%;
    text-align: right;
    margin-top: 0.5em;
}

div.div-then
{
    background: royalblue;
    border-radius: 0 0.5em 0.5em 0;
    height: 50%;
    text-align: left;
    margin-top: 0.5em;
}

.disabled
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

span.span-if, span.span-then
{
    font-size: 7em;
    font-weight: bold;
    color: lightgrey;
    opacity:0.7;
//vertical-align: middle;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

img.icon-if-then
{
    max-height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

img.icon-trig-act
{
    width: 4%;
    height: 4%;
}

div.descr
{
    height: 36%;
    border: 1px solid lightgrey;
    //border-radius: 0.5em;
    //padding: 0.5em;
    text-align: left;
    padding: 10px;
    //margin-top: 0.5em;
}

/*div.descr-unique
{
    width: 68%;
    margin-left: 1%;
    padding-left: 1.5%;
}*/

div.descr-right
{
    width: 60%;
    border-radius: 0 0.5em 0.5em 0;
    //margin-left: 0.25em;
}

div.descr-left
{
    width: 40%;
    border-radius: 0.5em 0 0 0.5em;
    //margin-right: 0.25em;
}

md-toolbar
{
    margin-bottom: 10px;
}

md-toolbar.sub-title
{
    //width: 60%;
    //margin-left: 20%;
    padding-bottom: 0.8%;
    padding-left: 1.5%;
    //background: #231d2b;
    border-radius: 0.5em;
}

/*button.mybutton
{
    width: 68%;
    margin-left: 1%;
    background: dodgerblue;
    border: 1px solid royalblue;
    font-weight: bold;
    font-size: 150%;
}*/

p.sub-descr
{
    color: darkgrey;
}

p.header-recipe
{
    text-align: left;
    font-weight: bold;
}

p.paragraph-recipe
{
    text-align: left;
}