/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.channel_image {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.channel_image:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

/*************************************************Create a recipe - START**********************************************/

/*STEP_0*/
.step_0 {
    font-weight: bold;
    font-size: 10em;
}

.step_0_anchor { /*class section tag anchor*/
    cursor: pointer;
    font-weight: bold;
    font-size: 10em;
    color:lightseagreen;
    text-decoration: underline; /*or none*/
    text-decoration-color: lightseagreen;
}
.step_0_anchor:hover {
    font-style: italic;
}

.step_0, .step_0_anchor {
    display:inline;
}


h6.step_0_helper {
    color: darkgrey;
    font-size: large;
    clear: left;
}
/*STEP_1*/
h3.step_1 {
    font-family: 'open sans',arial,sans-serif;
    font-weight: bold;
    font-size: xx-large;
}
h6.step_1_helper {
    color: darkgrey;
    font-size: medium;
}
h3.step_1, h6.step_1_helper{
    display:inline;
}

.step_1_image {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.step_1_image:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.step_1_channels_search {
    font-family: "Avenir Next LT W01 Demi",helvetica,arial,sans-serif;
    font-weight: bold;
    width: 50%;
    height:80px;
    font-size:30px;
    text-indent: 5px;
    margin-bottom: 40px;
    color: #333;
    letter-spacing: -0.54px;
    letter-spacing: -0.03rem;
    word-spacing: 1.08px;
    word-spacing: 0.06rem;
}

#channel_to_connect_1_anchor {
    font-size: xx-large;
}

/*STEP3*/

.trigger-list_item {
    display: block;
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 8px 8px 0 0;
    color: #888;
    background-color: #f3f3f3;
    border: 1px #ebebeb solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    line-height: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.trigger-list_item:hover {
    border: 1px #a0a0a0 solid;
}

.trigger_description {
    text-align: justify;
    font-style: italic;
}

.is-dimmable:after {
    margin-left: 100px;
    content: "";
    display: table;
    clear: both;
}

#channel_to_connect_2_anchor {
    font-size: xx-large;
}

/*************************************************Create a recipe - END************************************************/

h2.recipe
{
    margin-top: 0.5em;
    padding: 0;
    margin-left: 19.6%;
    color: #eee;
}

h5.recipe
{
    margin-top:0;
    padding: 0;
    margin-left: 19.6%;
    margin-bottom: 0.5em;
}

a.recipe
{
    color: #eee;
}

a.recipe:hover
{
    color: white;
    text-decoration: underline;
}

.form-radio-checkbox
{
    width:20px !important;
    height:20px !important;
}

button.recipe-menu
{
    text-align: left;
    margin-top: 0.5em;
    min-width: 20%;
}

button.recipe-menu > span
{
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 1.15em;
}

button.recipe-menu > i
{
    margin-left: 0.2em;
}

form#editRecipe
{
    width: 60%;
    margin-left: 20%;
}

form#editRecipe div.div-label
{
    margin-top: 1em;
    margin-bottom: 0.25em;
}

label.form-label
{
    margin-bottom: 0.5em;
}

.disabled
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.icon-if-then
{
    min-width: 30px;
    min-height: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: middle;
}

img.text-if
{
    min-width: 24px;
    min-height: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: middle;
}

img.text-then
{
    min-width: 75px;
    min-height: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: middle;
}

h2.title
{
    background: #3f51b5;
    color: #eee;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    border-radius: 0.25em;
}

td.descr-left
{
    border: 1px solid lightgrey;
    border-radius: 0.5em 0 0 0.5em;
    text-align: left;
    vertical-align: text-top;
    padding: 15px;
}

td.descr-right
{
    border: 1px solid lightgrey;
    border-radius: 0 0.5em 0.5em 0;
    text-align: left;
    vertical-align: text-top;
    padding: 15px;
}

table.images-ext
{
    width: 100%;
    margin-bottom: 1.5em;
    border-collapse: separate;
    border-spacing: 0px 8px;
}

table.images-ext td
{
    height: 60%;
}

table.images-ext td#left
{
    width: 40%;
    background: #3b579d;
    border-radius: 0.5em 0 0 0.5em;
}

table.images-ext td#right
{
    width: 60%;
    background: #23448b;
    border-radius: 0 0.5em 0.5em 0;
}

table#images-int-left
{
    float: right;
}

table#images-int-left td, table#images-int-right td
{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

td.left
{
    padding-right: 0!important;
}

table#images-int-right
{
    float: left;
}

md-toolbar
{
    margin-bottom: 10px;
}

md-toolbar.message
{
    text-align: center;
    height: 50px;
    line-height: 50px;
}

p.header-recipe
{
    text-align: left;
    font-weight: bold;
}

p.paragraph-recipe
{
    text-align: left;
}