<div class="container">
    <md-toolbar layout="row">
        <h2 style="padding-left:50px;">Search for channels</h2>
    </md-toolbar>
    <br/>

    <div class="row">
        <div ng-repeat="channel in channels" class="col-lg-2" >
            <div align="center">
                <md-button data-toggle="collapse" data-target="#channel_{{ channel.channelId }}" ng-click="selectChannel(channel)">
                    <img aria-label="{{ channel.name }}" height="100" width="100" class="img-responsive" ng-src="{{ ipServer + '/' + channel.image_url }}"/>
                </md-button>
                <div id="channel_{{ channel.channelId }}" class="collapse" align="center" ng-if="visibleChannel(channel)">
                    <button type="button" class="btn btn-primary" ng-click="loadPage(channel)">Connect</button>
                </div>
            </div>
        </div>
    </div>
</div>