<div align="center" class="jumbotron">
    <h1>Connetti i tuoi canali</h1>
    <h2>Stay tuned</h2>
</div>

<br />

<div align="center">
    <img src="images/google_calendar_icon.png" alt="gCalendar" hspace="10" height="100" width="100"/>
    <img src="images/google_mail_icon.png" alt="gMail" hspace="10" height="100" width="100"/>
    <img src="images/weather_icon.png" alt="Weather" hspace="10" height="100" width="100"/>
    <img src="images/facebook_icon.png" alt="Facebook" hspace="10" height="100" width="100"/>
    <img src="images/twitter_icon.png" alt="Twitter" hspace="10" height="100" width="100"/>
</div>

<div>
    <button ng-click="myFunction()">Connect to Facebook</button>
</div>