<!--
<body ng-app="NewRecipeController" layout="column">
-->
<md-toolbar layout="row" >
    <h2>Create a recipe</h2>
</md-toolbar>

<!--
<style type = "text/css" scoped>
    body { overflow: hidden; }
</style>
-->

<!-- STEP 0 -->
<div id="first_div">
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center"  style="min-height: 500px">
            <md-content>
                <h3 class="step_0">if</h3>
                <span class="step_0_anchor" scroll-on-click href="#step_1_a">this</span> <!--ng-href="#/newrecipe#step_1_a"-->
                <h3 class="step_0">then</h3>
                <h3 class="step_0">that</h3>
                <br>
                <h6 class="step_0_helper" style="padding-left: 110px;">Click "this" to get started.</h6>
            </md-content>
         </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 1 -->
    <!-- PART A -->
<div id="step_1_a">
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center"  style="min-height: 500px">
            <div ng-cloak class="md-inline-form">
<br>
<br>
<br>
<br>
                <md-content flex md-theme="docs-dark" layout-align="center">
                    <h3 class="step_1">Choose </h3><h3 class="step_1">Trigger </h3><h3 class="step_1">Channel</h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<h6 class="step_1_helper">(1/5)</h6>
<br>
<br>
<br>
                    <div>
                        <form>
                            <md-input-container>
                                <input aria-label="input" autocapitalization="off" class="step_1_channels_search"
                                   placeholder="Search Channels" type="text"
                                   ng-model="searchBox1.name"
                                />
                            </md-input-container>
                        </form>
                    </div>
<br>
                    <md-list >
                        <md-list-item data-ng-repeat="channel in channels | filter:searchBox1" style="display: inline">
                            <span class="loading"> <img src="images/loading.gif"/></span>
                                <img class="spinner" imageonload style="cursor: pointer" src="{{ channel.image_url }}" alt="{{ channel.name }}" height="100" width="100" scroll-on-click-and-choose-trigger-channel callback-fn="choose_trigger_channel(channel)" href="#step_1_b"/>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- PART B -->
<div id="step_1_b">
<br>
<br>
<br>
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center" >
            <div>
                <md-content flex md-theme="docs-dark">
                    <br>
                    <br>
                    <h3 class="step_1">To make the recipe work you will later need to authorize the app to use the {{ chosen_trigger_channel.name }} channel</h3>
<br>
                    <h6 class="step_0_helper">You'll only have to do this once.</h6>
                </md-content>
<br>
<br>
                <div>
                    <img style="margin-left: 25px;" src="{{ chosen_trigger_channel.image_url }}" alt="{{ chosen_trigger_channel.name }}" height="150" width="150"/>
                    <!--<a > <!--ng-href="#/newrecipe#step_2_a"-->
                        <button style="margin-left: 25px;" class="md-raised md-primary md-button md-ink-ripple" type="button" aria-label="Continue to the next step"><span class="ng-scope" scroll-on-click href="#step_2_a">&nbsp&nbsp&nbspContinue to the next step&nbsp&nbsp&nbsp</span></button>
                    <!--</a>
                    <a > <!--ng-href="#/newrecipe#step_1_a"-->
                        <button aria-label="md-button" class="md-warn md-button md-ink-ripple" scroll-on-click href="#step_1_a" type="button" aria-label="Back">Back</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- STEP 2 -->
<div id="step_2_a" div layout="row" layout-align="space-around center"  style="min-height: 500px">
<br>
<br>
<br>
    <!-- PART A -->
    <md-content flex md-theme="docs-dark" layout-padding class="is_dimmable">
        <h3 class="step_1">Choose a Trigger</h3><h6 class="step_1_helper">(2/5)</h6>
    </md-content>
        <div div layout="column">
            <div div layout="row" layout-align="center"  style="min-height: 500px">
                <md-content flex md-theme="docs-dark" layout-padding class="is_dimmable">
                    <md-list>
                        <br>
                        <br>
                        <md-list-item  ng-repeat="data_triggers in chosen_trigger_channel.trigger_list track by $index" class="trigger-list_item" style="display: inline">
                            <h3>{{data_triggers.header}}</h3>
                            <p>{{data_triggers.paragraph}}</p>
                            <br>
                            <br>
                            <form name="triggerForm" novalidate ng-submit="submit_trigger( data_triggers.params, triggerForm.$valid, data_triggers.header )">
                                <div ng-repeat="same_id_trigger in data_triggers.params track by $index">
                                    <h4>{{same_id_trigger.unbinded_name}}</h4>
                                    <input type='{{same_id_trigger.type}}' name='{{same_id_trigger.name}}' ng-model="same_id_trigger.name" required>
                                    <span ng-show="triggerForm.$dirty && triggerForm.same_id_trigger.name.$error.required">This is a required field</span>
                                    <br>
                                </div>
<br>
                                <input type='submit' class='btn btn-info btn-large' style='float:left'
                                       value='&nbsp;&nbsp;&nbsp;Create Trigger&nbsp&nbsp&nbsp'>
                            </form>
                            <br>
                            <br>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    <a style="float:right"> <!--ng-href="#/newrecipe#step_1_b"-->
        <button aria-label="md-button" class="md-warn md-button md-ink-ripple" scroll-on-click href="#step_1_b" type="button" aria-label="Back">Back</button>
    </a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- PART B -->
<div id="step_2_b">
<br>
<br>
<br>
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center"  style="min-height: 500px">
            <div>
                <md-content>
                    <!--
                    <h3 class="step_0">if</h3>
                    <h6 class="step_0_anchor">{{ chosen_trigger_channel.header }}</h6>
                    -->
                    <h3 class="step_0">then</h3>
                    <span class="step_0_anchor" scroll-on-click href="#step_3_a">that</span>  <!--ng-href="#/newrecipe#step_3_a"-->
                </md-content>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 3 -->
<div id="step_3_a">
<br>
<br>
<br>
<div class="flexbox-parent">
    <div layout="row" layout-align="center center"  style="min-height: 500px">
        <div id="step_3" ng-cloak class="md-inline-form">
            <!-- PART A -->
            <md-content flex md-theme="docs-dark" >
                <h3 class="step_1">Choose Action Channel</h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<h6 class="step_1_helper">(3/5)</h6>
<br>
<br>
                <div>
                    <form>
                        <md-input-container>
                            <input aria-label="input" autocapitalization="off" class="step_1_channels_search"
                                   placeholder="Search Channels" type="text"
                                   ng-model="searchBox2.name"
                            />
                        </md-input-container>
                    </form>
                </div>
<br>
                <md-list >
                    <md-list-item data-ng-repeat="channel in channels | filter:searchBox2" style="display: inline">

                        <img style="cursor: pointer" src="{{ channel.image_url }}" alt="{{ channel.name }}" height="100" width="100" scroll-on-click-and-choose-action-channel callback-fn="choose_action_channel(channel)" href="#step_3_b"/>

                    </md-list-item>
                </md-list>
            </md-content>
<br>
<br>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- PART B -->
<div id="step_3_b">
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center"  style="min-height: 500px">
            <div>
                <md-content flex md-theme="docs-dark">
                    <h3 class="step_1">To make the recipe work you will later need to authorize the app to use the {{ chosen_action_channel.name }} channel</h3>
<br>
                    <h6 class="step_0_helper">You'll only have to do this once.</h6>
                </md-content>
<br>
<br>
                <div>
                    <img style="margin-left: 25px;" src="{{ chosen_action_channel.image_url }}" alt="{{ chosen_action_channel.name }}" height="150" width="150"/>

                    <!--<a id="channel_to_connect_2_anchor" > <!--ng-href="#/newrecipe#step_4_a"-->
                        <button scroll-on-click href="#step_4_a" style="margin-left: 25px;" class="md-raised md-primary md-button md-ink-ripple" type="button" aria-label="Continue to the next step"><span class="ng-scope">&nbsp&nbsp&nbspContinue to the next step&nbsp&nbsp&nbsp</span></button>
                    <!--</a>

                    <a > <!--ng-href="#/newrecipe#step_3_a"-->
                        <button scroll-on-click href="#step_3_a" aria-label="md-button" class="md-warn md-button md-ink-ripple" type="button" aria-label="Back">Back</button>
                    <!--</a>-->
                    </div>
             </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 4 -->
<div id="step_4_a" div layout="row" layout-align="space-around center"  style="min-height: 500px">
<br>
<br>
<br>
    <!-- PART A -->
        <md-content flex md-theme="docs-dark" layout-padding class="is_dimmable">
            <h3 class="step_1">Choose </h3><h3 class="step_1">an </h3><h3 class="step_1">Action</h3><h6 class="step_1_helper">(4/5)</h6>
        </md-content>
        <div div layout="column">
            <div div layout="row" layout-align="center"  style="min-height: 500px">
                <md-content flex md-theme="docs-dark" layout-padding class="is_dimmable">
                    <md-list>
                        <br>
                        <br>
                        <md-list-item  ng-repeat="data_actions in chosen_action_channel.action_list track by $index" class="trigger-list_item" style="display: inline">
                            <h3>{{data_actions.header}}</h3>
                            <p>{{data_actions.paragraph}}</p>
<br>
<br>
                            <form name="actionForm" novalidate ng-submit="submit_action( data_actions.params, actionForm.$valid, data_actions.header )">
                                <div ng-repeat="same_id_action in data_actions.params track by $index">
                                    <h4>{{same_id_action.unbinded_name}}</h4>
                                    <input type='{{same_id_action.type}}' name='{{same_id_action.name}}' ng-model="same_id_action.name" required>
                                    <span ng-show="actionForm.$dirty && actionForm.same_id_action.name.$error.required">This is a required field</span>
<br>
                                </div>
<br>
                                <input type='submit' class='btn btn-info btn-large' style='float:left' value='&nbsp;&nbsp;&nbsp;Create Action&nbsp&nbsp&nbsp'>
                            </form>
<br>
<br>
                        </md-list-item>
                    </md-list>
            </md-content>
        </div>
    </div>
    <a style="float:right"> <!--ng-href="#/newrecipe#step_3_b"-->
        <button scroll-on-click href="#step_3_b" aria-label="md-button" class="md-warn md-button md-ink-ripple" type="button" aria-label="Back">Back</button>
    </a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 5 -->
<div id="step_5">
<br>
<br>
<br>
    <div class="flexbox-parent">
        <div layout="column" layout-align="center center"  style="min-height: 500px">
                <md-content>
                    <h3 class="step_0">if</h3>
                    <img style="margin-left: 25px; margin-bottom: 40px;" src="{{ chosen_trigger_channel.image_url }}" alt="{{ chosen_trigger_channel.name }}" height="150" width="150"/>
                    <h3 class="step_0">&emsp;then</h3>
                    <img style="margin-left: 25px; margin-bottom: 40px;" src="{{ chosen_action_channel.image_url }}" alt="{{ chosen_action_channel.name }}" height="150" width="150"/>
                </md-content>
<br>
            <h3>Recipe title: </h3>
                <textarea rows="4" cols="50" name="recipe_description" ng-model="recipe_description" form="submit_recipe">When {{ chosen_trigger_job }} in {{ chosen_trigger_channel.name }}, do {{ chosen_action_job }} in {{ chosen_action_channel.name }}
                </textarea>
<br>
<br>
            <form novalidate ng-submit='submit_recipe()' id="submit_recipe">
                    <input aria-label="input" type="submit" class="btn btn-info btn-large" value="&nbsp;&nbsp;&nbsp;Create recipe&nbsp&nbsp&nbsp" /> <!--ng-href="#/home"-->
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!--
</body>
-->
