<!--
<body ng-app="NewRecipeController" layout="column">
-->

<md-toolbar layout="row" >
    <h2>Create a recipe</h2>
</md-toolbar>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 0 -->
<div>
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center"  style="min-height: 500px">
            <md-content>
                <h3 class="step_0">if</h3>
                <a class="step_0_anchor" >this</a> <!--ng-href="#/newrecipe#step_1_a"-->
                <h3 class="step_0">then</h3>
                <h3 class="step_0">that</h3>
                <br>
                <h6 class="step_0_helper" style="padding-left: 110px;">Click "this" to get started.</h6>
            </md-content>
         </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 1 -->
    <!-- PART A -->
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center"  style="min-height: 500px">
            <div id="step_1_a" ng-cloak class="md-inline-form">
<br>
<br>
<br>
<br>
                <md-content flex md-theme="docs-dark" layout-align="center">
                    <h3 class="step_1">Choose Trigger Channel</h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<h6 class="step_1_helper">(step 1 of 5)</h6>
<br>
<br>
<br>
                    <div>
                        <form>
                            <md-input-container>
                                <input aria-label="input" autocapitalization="off" class="step_1_channels_search"
                                   placeholder="Search Channels" type="text"
                                   ng-model="searchBox1.name"
                                />
                            </md-input-container>
                        </form>
                    </div>
<br>
                    <md-list >
                        <md-list-item data-ng-repeat="channel in channels | filter:searchBox1" style="display: inline">
                            <md-button aria-label="md-button" ng-click="choose_trigger_channel(channel)"> <!--ng-href="#/newrecipe#step_1_a"-->
                                <img src="{{ channel.image_url }}" alt="{{ channel.name }}" height="100" width="100"/>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- PART B -->
<div id="step_1_b">
<br>
<br>
<br>
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center" >
            <div>
                <md-content flex md-theme="docs-dark">
                    <h3 class="step_1">Please connect the {{ chosen_trigger_channel.name }} channel</h3>
<br>
                    <h6 class="step_0_helper">You'll only have to do this once.</h6>
                </md-content>
<br>
<br>
                <div>
                    <img style="margin-left: 25px;" src="{{ chosen_trigger_channel.image_url }}" alt="{{ chosen_trigger_channel.name }}" height="150" width="150"/>
                    <a > <!--ng-href="#/newrecipe#step_2_a"-->
                        <button style="margin-left: 25px;" class="md-raised md-primary md-button md-ink-ripple" type="button" aria-label="Connect/Continue to the next step"><span class="ng-scope">&nbsp&nbsp&nbspConnect/Continue to the next step&nbsp&nbsp&nbsp</span></button>
                    </a>
                    <a > <!--ng-href="#/newrecipe#step_1_a"-->
                        <md-button aria-label="md-button" class="md-warn md-button md-ink-ripple" type="button" aria-label="Back">Back</md-button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- STEP 2 -->
<div id="step_2_a" div layout="row" layout-align="space-around center"  style="min-height: 500px">
<br>
<br>
<br>
        <!-- PART A -->
        <div div layout="column">
            <div div layout="row" layout-align="space-around center">
                <md-content flex md-theme="docs-dark" layout-padding class="is_dimmable">
                    <h3 class="step_1">Choose a Trigger</h3><h6 class="step_1_helper">(step 2 of 5)</h6>
                    <a style="float:right"> <!--ng-href="#/newrecipe#step_1_b"-->
                        <md-button aria-label="md-button" class="md-warn md-button md-ink-ripple" type="button" aria-label="Back">Back</md-button>
                    </a>
                </md-content>
            </div>
            <div div layout="row" layout-align="space-around center"  style="min-height: 500px">
                <md-content flex md-theme="docs-dark" layout-padding class="is_dimmable">
                    <md-list >
                        <md-list-item data-ng-repeat="trigger_list_channel in chosen_trigger_channel.trigger_list" class="trigger-list_item" style="display: inline">
                            <br>
                            <br>
                            <h3>{{trigger_list_channel.header}}</h3>
                            <p>{{trigger_list_channel.paragraph}}</p>
                            <div bind-html-compile="trigger_list_channel.extra_element"></div>
                            <br>
                            <br>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- PART B -->
<div id="step_2_b">
<br>
<br>
<br>
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center"  style="min-height: 500px">
            <div>
                <md-content>
                    <h3 class="step_0">if</h3>
                    <h6 class="step_0_anchor">{{ chosen_trigger_job }}</h6>
                    <h3 class="step_0">then</h3>
                    <a class="step_0_anchor">that</a> <!--ng-href="#/newrecipe#step_3_a"-->
                </md-content>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 3 -->
<div id="step_3_a">
<br>
<br>
<br>
<div class="flexbox-parent">
    <div layout="row" layout-align="center center"  style="min-height: 500px">
        <div id="step_3" ng-cloak class="md-inline-form">
            <!-- PART A -->
            <md-content flex md-theme="docs-dark" >
                <h3 class="step_1">Choose Action Channel</h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<h6 class="step_1_helper">(step 3 of 5)</h6>
<br>
<br>
                <div>
                    <form>
                        <md-input-container>
                            <input aria-label="input" autocapitalization="off" class="step_1_channels_search"
                                   placeholder="Search Channels" type="text"
                                   ng-model="searchBox2.name"
                            />
                        </md-input-container>
                    </form>
                </div>
<br>
                <md-list >
                    <md-list-item data-ng-repeat="channel in channels | filter:searchBox2" style="display: inline">
                        <md-button aria-label="md-button" ng-click="choose_action_channel(channel)"> <!--ng-href="#/newrecipe#step_3_b"-->
                            <img src="{{ channel.image_url }}" alt="{{ channel.name }}" height="100" width="100"/>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-content>
<br>
<br>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- PART B -->
<div id="step_3_b">
<br>
<br>
<br>
    <div class="flexbox-parent">
        <div layout="row" layout-align="center center"  style="min-height: 500px">
            <div>
                <md-content flex md-theme="docs-dark">
                    <h3 class="step_1">Please connect the {{ chosen_action_channel.name }} channel</h3>
<br>
                    <h6 class="step_0_helper">You'll only have to do this once.</h6>
                </md-content>
<br>
<br>
                <div>
                    <img style="margin-left: 25px;" src="{{ chosen_action_channel.image_url }}" alt="{{ chosen_action_channel.name }}" height="150" width="150"/>

                    <a id="channel_to_connect_2_anchor" > <!--ng-href="#/newrecipe#step_4_a"-->
                        <button style="margin-left: 25px;" class="md-raised md-primary md-button md-ink-ripple" type="button" aria-label="Connect/Continue to the next step"><span class="ng-scope">&nbsp&nbsp&nbspConnect/Continue to the next step&nbsp&nbsp&nbsp</span></button>
                    </a>

                    <a > <!--ng-href="#/newrecipe#step_3_a"-->
                        <md-button aria-label="md-button" class="md-warn md-button md-ink-ripple" type="button" aria-label="Back">Back</md-button>
                    </a>
                    </div>
             </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 4 -->
<div id="step_4_a" div layout="row" layout-align="space-around center"  style="min-height: 500px">
    <br>
    <br>
    <br>
    <!-- PART A -->
    <div div layout="column">
        <div div layout="row" layout-align="space-around center">
            <md-content flex md-theme="docs-dark" layout-padding class="is_dimmable">
                <h3 class="step_1">Choose an Action</h3><h6 class="step_1_helper">(step 4 of 5)</h6>
                <a style="float:right"> <!--ng-href="#/newrecipe#step_3_b"-->
                    <md-button aria-label="md-button" class="md-warn md-button md-ink-ripple" type="button" aria-label="Back">Back</md-button>
                </a>
            </md-content>
        </div>
        <div div layout="row" layout-align="space-around center"  style="min-height: 500px">
            <md-content flex md-theme="docs-dark" layout-padding class="is_dimmable">
                <md-list >
                    <md-list-item data-ng-repeat="action_list_channel in chosen_action_channel.action_list" class="trigger-list_item" style="display: inline">
                        <br>
                        <br>
                        <h3>{{action_list_channel.header}}</h3>
                        <p>{{action_list_channel.paragraph}}</p>
                        <div ng-bind-html="action_list_channel.extra_element"></div>
                        <br>
                        <br>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- STEP 5 -->
<div id="step_5">
<br>
<br>
<br>
    <div class="flexbox-parent">
        <div layout="column" layout-align="center center"  style="min-height: 500px">
                <md-content>
                    <h3 class="step_0">if</h3>
                    <img style="margin-left: 25px; margin-bottom: 40px;" src="{{ chosen_trigger_job.image_url }}" alt="{{ chosen_trigger_job.name }}" height="150" width="150"/>
                    <h3 class="step_0">then</h3>
                    <img style="margin-left: 25px; margin-bottom: 40px;" src="{{ chosen_action_job.image_url }}" alt="{{ chosen_action_job.name }}" height="150" width="150"/>
                </md-content>
<br>
            <h3>Recipe title: </h3>
                <textarea rows="4" cols="50" name="recipe_title" form="submit_recipe">
                    When {{ chosen_trigger_job }} in {{ chosen_trigger_channel }}, do {{ chosen_action_job }} in {{ chosen_action_channel }}
                </textarea>
<br>
<br>
            <form novalidate ng-submit='submit_recipe()' id="submit_recipe">
                    <input aria-label="input" type="submit" class="btn btn-info btn-large" value="&nbsp;&nbsp;&nbsp;Create recipe&nbsp&nbsp&nbsp" /> <!--ng-href="#/home"-->
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!--
</body>
-->
