<div class="modal fade" id="signup" role="dialog">
    <div class="modal-dialog">

        <form class="form-horizontal" role="form">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registrati al servizio</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="getname">Nome:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="getname" placeholder="Il tuo nome">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="getsurname">Cognome:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="getsurname" placeholder="Il tuo cognome">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="getemail">E-mail:</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="getemail" placeholder="Inserisci la tua email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="getpassword">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="getpassword" placeholder="Inserisci una password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="getpassword2"></label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="getpassword2" placeholder="Ripeti la password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Fuso orario</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="mySelect" id="gettimezone"
                                    ng-options="option.description for option in timeZones track by option.id"
                                    ng-model="timeZone"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Registrati</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </form>

    </div>
</div>