<select id="gettimezone" class="form-control">
    <option selected="{{timezone==-12 ? 'selected' : ''}}" value="1">(GMT-12:00) International Date Line West</option>
    <option selected="{{timezone==-11 ? 'selected' : ''}}" value="2">(GMT-11:00) Midway Island, Samoa</option>
    <option selected="{{timezone==-10 ? 'selected' : ''}}" value="3">(GMT-10:00) Hawaii</option>
    <option selected="{{timezone==-9 ? 'selected' : ''}}" value="4">(GMT-09:00) Alaska</option>
    <option selected="{{timezone==-8 ? 'selected' : ''}}" value="5">(GMT-08:00) Pacific Time (US & Canada)</option>
    <option selected="{{timezone==-8 ? 'selected' : ''}}" value="6">(GMT-08:00) Tijuana, Baja California</option>
    <option selected="{{timezone==-7 ? 'selected' : ''}}" value="7">(GMT-07:00) Arizona</option>
    <option selected="{{timezone==-7 ? 'selected' : ''}}" value="8">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
    <option selected="{{timezone==-7 ? 'selected' : ''}}" value="9">(GMT-07:00) Mountain Time (US & Canada)</option>
    <option selected="{{timezone==-6 ? 'selected' : ''}}" value="10">(GMT-06:00) Central America</option>
    <option selected="{{timezone==-6 ? 'selected' : ''}}" value="11">(GMT-06:00) Central Time (US & Canada)</option>
    <option selected="{{timezone==-6 ? 'selected' : ''}}" value="12">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
    <option selected="{{timezone==-6 ? 'selected' : ''}}" value="13">(GMT-06:00) Saskatchewan</option>
    <option selected="{{timezone==-5 ? 'selected' : ''}}" value="14">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
    <option selected="{{timezone==-5 ? 'selected' : ''}}" value="15">(GMT-05:00) Eastern Time (US & Canada)</option>
    <option selected="{{timezone==-5 ? 'selected' : ''}}" value="16">(GMT-05:00) Indiana (East)</option>
    <option selected="{{timezone==-4 ? 'selected' : ''}}" value="17">(GMT-04:00) Atlantic Time (Canada)</option>
    <option selected="{{timezone==-4 ? 'selected' : ''}}" value="18">(GMT-04:00) Caracas, La Paz</option>
    <option selected="{{timezone==-4 ? 'selected' : ''}}" value="19">(GMT-04:00) Manaus</option>
    <option selected="{{timezone==-4 ? 'selected' : ''}}" value="20">(GMT-04:00) Santiago</option>
    <option selected="{{timezone==-3.5 ? 'selected' : ''}}" value="21">(GMT-03:30) Newfoundland</option>
    <option selected="{{timezone==-3 ? 'selected' : ''}}" value="22">(GMT-03:00) Brasilia</option>
    <option selected="{{timezone==-3 ? 'selected' : ''}}" value="23">(GMT-03:00) Buenos Aires, Georgetown</option>
    <option selected="{{timezone==-3 ? 'selected' : ''}}" value="24">(GMT-03:00) Greenland</option>
    <option selected="{{timezone==-3 ? 'selected' : ''}}" value="25">(GMT-03:00) Montevideo</option>
    <option selected="{{timezone==-2 ? 'selected' : ''}}" value="26">(GMT-02:00) Mid-Atlantic</option>
    <option selected="{{timezone==-1 ? 'selected' : ''}}" value="27">(GMT-01:00) Cape Verde Is.</option>
    <option selected="{{timezone==-1 ? 'selected' : ''}}" value="28">(GMT-01:00) Azores</option>
    <option selected="{{timezone==0 ? 'selected' : ''}}" value="29">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
    <option selected="{{timezone==1 ? 'selected' : ''}}" value="30">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
    <option selected="{{timezone==1 ? 'selected' : ''}}" value="31">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
    <option selected="{{timezone==1 ? 'selected' : ''}}" value="32">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
    <option selected="{{timezone==1 ? 'selected' : ''}}" value="33">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
    <option selected="{{timezone==1 ? 'selected' : ''}}" value="34">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
    <option selected="{{timezone==1 ? 'selected' : ''}}" value="35">(GMT+01:00) West Central Africa</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="36">(GMT+02:00) Amman</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="37">(GMT+02:00) Athens, Bucharest, Istanbul</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="38">(GMT+02:00) Beirut</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="39">(GMT+02:00) Cairo</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="40">(GMT+02:00) Harare, Pretoria</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="41">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="42">(GMT+02:00) Jerusalem</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="43">(GMT+02:00) Minsk</option>
    <option selected="{{timezone==2 ? 'selected' : ''}}" value="44">(GMT+02:00) Windhoek</option>
    <option selected="{{timezone==3 ? 'selected' : ''}}" value="45">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
    <option selected="{{timezone==3 ? 'selected' : ''}}" value="46">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
    <option selected="{{timezone==3 ? 'selected' : ''}}" value="47">(GMT+03:00) Nairobi</option>
    <option selected="{{timezone==3 ? 'selected' : ''}}" value="48">(GMT+03:00) Tbilisi</option>
    <option selected="{{timezone==3.5 ? 'selected' : ''}}" value="49">(GMT+03:30) Tehran</option>
    <option selected="{{timezone==4 ? 'selected' : ''}}" value="50">(GMT+04:00) Abu Dhabi, Muscat</option>
    <option selected="{{timezone==4 ? 'selected' : ''}}" value="51">(GMT+04:00) Baku</option>
    <option selected="{{timezone==4 ? 'selected' : ''}}" value="52">(GMT+04:00) Yerevan</option>
    <option selected="{{timezone==4.5 ? 'selected' : ''}}" value="53">(GMT+04:30) Kabul</option>
    <option selected="{{timezone==5 ? 'selected' : ''}}" value="54">(GMT+05:00) Yekaterinburg</option>
    <option selected="{{timezone==5 ? 'selected' : ''}}" value="55">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
    <option selected="{{timezone==5.5 ? 'selected' : ''}}" value="56">(GMT+05:30) Sri Jayawardenapura</option>
    <option selected="{{timezone==5.5 ? 'selected' : ''}}" value="57">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
    <option selected="{{timezone==5.75 ? 'selected' : ''}}" value="58">(GMT+05:45) Kathmandu</option>
    <option selected="{{timezone==6 ? 'selected' : ''}}" value="59">(GMT+06:00) Almaty, Novosibirsk</option>
    <option selected="{{timezone==6 ? 'selected' : ''}}" value="60">(GMT+06:00) Astana, Dhaka</option>
    <option selected="{{timezone==6.5 ? 'selected' : ''}}" value="61">(GMT+06:30) Yangon (Rangoon)</option>
    <option selected="{{timezone==7 ? 'selected' : ''}}" value="62">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
    <option selected="{{timezone==7 ? 'selected' : ''}}" value="63">(GMT+07:00) Krasnoyarsk</option>
    <option selected="{{timezone==8 ? 'selected' : ''}}" value="64">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
    <option selected="{{timezone==8 ? 'selected' : ''}}" value="65">(GMT+08:00) Kuala Lumpur, Singapore</option>
    <option selected="{{timezone==8 ? 'selected' : ''}}" value="66">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
    <option selected="{{timezone==8 ? 'selected' : ''}}" value="67">(GMT+08:00) Perth</option>
    <option selected="{{timezone==8 ? 'selected' : ''}}" value="68">(GMT+08:00) Taipei</option>
    <option selected="{{timezone==9 ? 'selected' : ''}}" value="69">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
    <option selected="{{timezone==9 ? 'selected' : ''}}" value="70">(GMT+09:00) Seoul</option>
    <option selected="{{timezone==9 ? 'selected' : ''}}" value="71">(GMT+09:00) Yakutsk</option>
    <option selected="{{timezone==9.5 ? 'selected' : ''}}" value="72">(GMT+09:30) Adelaide</option>
    <option selected="{{timezone==9.5 ? 'selected' : ''}}" value="73">(GMT+09:30) Darwin</option>
    <option selected="{{timezone==10 ? 'selected' : ''}}" value="74">(GMT+10:00) Brisbane</option>
    <option selected="{{timezone==10 ? 'selected' : ''}}" value="75">(GMT+10:00) Canberra, Melbourne, Sydney</option>
    <option selected="{{timezone==10 ? 'selected' : ''}}" value="76">(GMT+10:00) Hobart</option>
    <option selected="{{timezone==10 ? 'selected' : ''}}" value="77">(GMT+10:00) Guam, Port Moresby</option>
    <option selected="{{timezone==10 ? 'selected' : ''}}" value="78">(GMT+10:00) Vladivostok</option>
    <option selected="{{timezone==11 ? 'selected' : ''}}" value="79">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
    <option selected="{{timezone==12 ? 'selected' : ''}}" value="80">(GMT+12:00) Auckland, Wellington</option>
    <option selected="{{timezone==12 ? 'selected' : ''}}" value="81">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
    <option selected="{{timezone==13 ? 'selected' : 'false'}}" value="82">(GMT+13:00) Nuku'alofa</option>
</select>